footer {
    width:100%;
    height: 65px;
    text-align: center;
    background-image: linear-gradient( whitesmoke,white);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 65px;
}

.down{
    width: 48px;
    margin: auto;
    text-align: center;
}