*, ::after, ::before {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.main {
    position: relative;
}

div div {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: lightcyan;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

form {
    margin: auto;
}

td {
    text-align: center;
}

div{
    position: relative;
}

div h1 {
    font-size: medium;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
}

th {
    border-collapse: collapse;
}

td {
    border-top: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
    background-color: lightblue;
}