*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../Media/doc.png");
    background-size: 100% 100%;
    background-attachment: fixed;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    filter: blur(5px);
}
.splitright{
    @media   (max-width: 520px)
    height: 520px;
    width: 400px;
    background-color:rgba(16,159,205,0.50);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 75%;
    border-radius: 10px;
    backdrop-filter: blur(10px);                            /*effet flou*/
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    text-decoration-line:underline ;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(108,108,129,0.60);
    border-radius: 300px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.splitleft{
margin-left: 100px;
margin-top: 60px;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 300px;
    cursor: pointer;
}
img {
    margin-left: 200px;
    border-style: groove;
    border-color: black;
}
p{
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    color: red;
    margin-top: 50px;
}
h2{
    margin-left: -50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration-line:underline ;
}
ul{
    
    font-size: x-large;
    margin-top: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
-webkit-appearance:none ;
margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}